$black-dark: #232c2b;
$black: #303c3c;
$black-light: #364a47;
$black-lighter: #395c53;
$color-bright: #f0e1e1;
$white: #fff;
$accent: #d6a0c8;
$accent-shadow: #705062;
$accent-active: #9c748b;
$accent-highlight: #e1b5d4;

$theme-colors: (
    "primary": $accent,
    "danger": #ff4136,
);
