$black-dark: #202520;
$black: #2d322d;
$black-light: #323c32;
$black-lighter: #434343;
$color-bright: #f0e1e1;
$white: #fff;
$accent: #ba5c3b;
$accent-shadow: #8e3c2e;
$accent-active: #ba5c3b;
$accent-highlight: #ba703b;

$theme-colors: (
    "primary": $accent,
    "danger": #ff4136,
);
