$black-dark: #232c2b;
$black: #303c3c;
$black-light: #364a47;
$black-lighter: #395c53;
$color-bright: #f0e1e1;
$white: #fff;
$accent: #7da7e4;
$accent-shadow: #3a4a6b;
$accent-active: #6790ca;
$accent-highlight: #b3d2fa;

$theme-colors: (
    "primary": $accent,
    "danger": #ff4136,
);
