$black-dark: #1e1d1f;
$black: #29282a;
$black-light: #353336;
$black-lighter: #434343;
$black-lightest: #605c61;
$color-bright: #f0e1e1;
$white: #fff;
$accent: #5aa938;
$accent-shadow: #376921;
$accent-active: #519833;
$accent-highlight: #86c553;


$success: #44ff00;
$danger: #ff4136;

$theme-colors: (
    "primary":    $accent,
    "secondary":  $accent,
    "success":  $success,
    "danger":  $danger,
);
